.menu-container {
  position: fixed;
  width: 70px;
  background: /* #1f2937 */ linear-gradient(135deg, #2c3e50, #bdc3c7);
  height: 87vh;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  top: 94px;
}

.menu-container:hover {
  width: 250px; 
}

.menu-list {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.menu-item {
  position: relative;
  width: 100%;
  text-align: left;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #f3f4f6;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  gap: 10px;
}

.menu-link:hover {
  background-color: #374151;
  color: #fbbf24;
}

.menu-icon {
  font-size: 1.5rem;
  align-items: center;
  color: #f0a500 /* #374151 */;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-link:hover .menu-icon {
  color: #fbbf24;
  transform: scale(1.2);
}

.menu-label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-container:hover .menu-label {
  opacity: 1;
  visibility: visible;
}

.menu-label.logout {
  gap: 10px;
  color: #f3f4f6;
}